label{
    color: red;
    text-align: center;
    font-size: large;
}
body{
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/8/82/Access-denied_story.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}